.container2 {
    margin: 50px 7px;
    padding-top: 20px;
    margin-left:140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 520px;
    width: 370px;
    box-shadow: 0 10px 20px black;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: 'Abel', sans-serif;
}


h3 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.title {
    color: rgb(105, 100, 109);
}

p {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(105, 100, 109);
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: 0.3s;
    color: rgb(40, 163, 194);
    ;
}

.icons i:hover {
    transform: scale(1.1);
    color: rgb(18, 192, 235);
}